{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <title>{% block title %}VarnishTool{% endblock %}</title>
    <link rel="stylesheet" href="/static/custom.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
		<!-- Navigation bar -->
        <div class="navbar navbar-top">
            <div class="navbar-inner">
                <div class="container">
                	<a class="brand">VarnishTool</a>
                    <ul class="nav">
                        {% if page == "index" %}
                            <li class="active"><a href="/">Stats</a></li>
                            <li><a href="/vcledit">VCL</a></li>
                            <li><a href="#banurl">Ban URL</a></li>
                        {% endif %}
                        {% if page == "vcledit" %}
                            <li><a href="/">Stats</a></li>
                            <li class="active"><a href="/vcledit">VCL</a></li>
                            <li><a href="#banurl">Ban URL</a></li>
                        {% endif %}

                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ version }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout/">Logout</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}