{% extends "frontend/header.html" %}

{% load i18n %}

{% block head %}
        {{ block.super }}
        
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type="text/javascript">
    function drawCharts(){
        // Gauge cachehitrate
        var data1 = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['HitRate', {{ cache_stats.Hitrate }}],
            ['MemTotal', {{ memory_stats.Bytes_allocated }}]
        ]);
        var options1 = {
            width: 400, height: 120,
            redFrom: 0, redTo: 20,
            yellowFrom:20, yellowTo: 40,
            greenFrom:80, greenTo: 100,
            minorTicks: 5
        };
        var chart1 = new google.visualization.Gauge(document.getElementById('hitrate_div'));
        chart1.draw(data1, options1);

        // Barchart requests-hits-misses
        var data2 = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['Cache Hits', {{ cache_stats.Cache_Hits }}],
            ['Cache Misses', {{ cache_stats.Cache_Misses }}],
            ['Requests', {{ client_stats.Client_Requests }}]
        ]);
        new google.visualization.ColumnChart(document.getElementById('hitrequest_div')).
      draw(data2,
           {title:"Hits - Misses - Requests",
            width:600, height:400,
            }
      );
    }
    
    google.setOnLoadCallback(drawCharts);
    google.load("visualization", "1", {packages:["corechart","gauge",]});
</script>

{% endblock %}
{% block body %}
		{{ block.super }}
        <!-- Left menu with stats results -->
        <div class="tabbable tabs-left" id="stats">
        	<ul class="nav nav-tabs">
        		<li class="active"><a href="#tab1" data-toggle="tab">Dashboard</a></li>
        		<li><a href="#tab2" data-toggle="tab">Cache Hit</a></li>
        		<li><a href="#tab3" data-toggle="tab">Backends Stats</a></li>
        	</ul>

        	<div class="tab-content">
        		<div id="tab1" class="tab-pane active">
                    <!-- Show google charts -->
                    <div id='hitrate_div'></div>
                    <div id='hitrequest_div'></div>
                </div>
        		<div id="tab2" class="tab-pane">
        			{% for statname, value in cache_stats.items %}
        			<div class="well" style="max-width: 20%;">
        				<strong>{{ statname }}</strong> {{ value }}
        			</div>
        			{% endfor %}
        		</div>
        		<div id="tab3" class="tab-pane">
        			{% for statname, value in backend_stats.items %}
        			<div class="well" style="max-width: 20%;">
        				<strong>{{ statname }}</strong> {{ value }}
        			</div>
        			{% endfor %}
        		</div>
        	</div>
        </div>

        {% include "frontend/footer.html" %}
{% endblock %}