{% extends "frontend/header.html" %}

{% block body %}
        {{ block.super }}
<div class="container">
    <h2>VCL editor</h2>
    <div class="control-group">
        <label class="control-label" for="textarea">default.vcl</label>
        <div class="controls">
            <textarea class="input-xxlarge" id="textarea" rows="20">
{{ vcltext }}
            </textarea>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Test VCL</button>
            <button type="submit" class="btn btn-secondary">Save changes</button>
            <button class="btn">Cancel</button>
        </div>
    </div>
</div>
{% include "frontend/footer.html" %}
{% endblock %}